@media screen and (max-width: 576px){
    .container{
        width: 90%;
        margin: 0 auto;
    }

    .section_heading{
        width: fit-content;
        /* width: 80%; */
    }

    .button_btn button{
        padding: 16px 20px;
    }

/* ================ NAVBAR PART ================*/
    #navbar .navbar_main .navbar_menu{
        display: none;
    }

    #navbar .navbar_main .navbar_hambarger{
        display: block;
    }

/* ================ BANNER PART ================*/
    #banner .banner_main{
        grid-template-columns: repeat(1, 1fr);
    }

    #banner .banner_main .banner_titles .button_btn:last-child{
        margin-left: 5px;
    }

    #banner .banner_main .banner_bg{
        margin-top: 40px;
    }

    #banner .banner_main .banner_tutorial{
        bottom: 20%;
        left: 5%;
    }

    #banner .banner_main .banner_workouts{
        top: 55%;
        right: 10%;
    }

/* ================ HABITS PART ================*/
    #habits .habits_main .habits_body{
        grid-template-columns: repeat(1, 1fr);
    }

    #habits .habits_main .habits_body .habits_body_item .title p{
        max-width: 60%;
        margin: 0 auto;
    }

/* ================ JOIN PART ================*/
    #join .join_main{
        flex-direction: column;
    }

    #join .join_main .section_heading{
        width: 100%;
        margin: 0 auto;
    }

    #join .join_main .join_body{
        margin-top: 30px;
        text-align: center;
        width: 100%;
    }

/* ================ TRAINING PART ================*/
    #training .training_main .section_heading{
        width: 90%;
        margin-bottom: 58px;
        margin-left: 0px;
    }

    #training .training_main .training_body{
        grid-template-columns: repeat(2, 1fr);
    }

    #training .training_main .training_body #row1col1{
        grid-column: 1 / span 1;
        grid-row: 1;
    }

    #training .training_main .training_body #row1col2{
        grid-column: 2 / span 1;
        grid-row: 1;
    }

    #training .training_main .training_body #row1col3{
        grid-column: 1 / span 1;
        grid-row: 2;
    }

    #training .training_main .training_body #row2col1{
        grid-column: 2 / span 1;
        grid-row: 2;
    }

    #training .training_main .training_body #row2col2{
        grid-column: 1 / span 1;
        grid-row: 3;
    }

    #training .training_main .training_body #row2col3{
        grid-column: 2 / span 1;
        grid-row: 3;
    }

/* ================ BMI CALCULATOR PART ================*/
    #bmi_body .bmi_main{
        flex-direction: column;
    }

    #bmi_body .bmi_main .bmi_chart{
        width: 100%;
        margin-bottom: 30px;
    }

    #bmi_body .bmi_main .bmi_chart table{
        width: 85%;
    }

    #bmi_body .bmi_main .bmi_calculation_form{
        width: 100%;
        overflow: hidden;
    }

       #bmi_body .bmi_main .bmi_calculation_form .calculation_form form input{
        width: 84%;
    }

    #bmi_body .bmi_main .bmi_calculation_form .calculation_form form select{
        width: 100%;
    }


/* ================ TEAM PART ================*/
    #membership .membership_main .membership_body{
        grid-template-columns: repeat(1, 1fr);
    }

/* ================ TEAM PART ================*/
    #team .team_main .team_body{
        grid-template-columns: repeat(1, 1fr);
    }

/* ================ FOOTER PART ================*/
    #footer .footer_main{
        grid-template-columns: repeat(1, 1fr);
        justify-items: start;
    }

    #footer .footer_main .footer_item h2{
        margin-top: 30px;
    }

}