/* ====================================================
                'ALL COMMON CSS' PART START
 ==================================================== */
*{
    margin: 0;
    padding: 0;
}

ul, li{
    list-style-type: none;
    display: inline-block;
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    vertical-align: middle;
}

body{
    background-color: black;
    font-family: var(--primary-text);
}

.container{
    width: 80%;
    margin: 0 auto;
}


/* all 'section heading' */
section{
    margin-top: 100px;
}

.section_heading{
    width: 45%;
    margin: 0 auto 58px;
    text-align: center;
}

.section_heading h2{
    font-weight: 900;
    font-size: 48px;
    color: var(--primary-text-color);
    margin-bottom: 14px;
}

.section_heading p{
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-text-color);
}


/* all 'button' style */
.button_btn{
    display: inline-block;
}

.button_btn button{
    background-color: var(--highlight-color);
    font-weight: 600;
    font-size: 18px;
    padding: 16px 46px;
    margin-top: 50px;
    border: 2px solid var(--highlight-color);
    border-radius: 42px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    -ms-border-radius: 42px;
    -o-border-radius: 42px;
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.button_btn button a{
    color: var(--primary-text-color);
}

.button_btn button:hover{
    background-color: transparent;
    border: 2px solid var(--secondary-text-color);
}
/* ====================================================
                'ALL COMMON CSS' PART END
 ==================================================== */



/* ====================================================
                    'NAVBAR' PART START
 ==================================================== */
#navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#navbar .navbar_main{
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .navbar_main .navbar_logo a{
    font-weight: 800;
    font-style: italic;
    font-size: 36px;
    color: var(--highlight-color);
}

#navbar .navbar_main .navbar_menu ul{
    border: 1px solid var(--fourth-text-color);
    padding: 5px 0px;
    border-radius: 46px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    -ms-border-radius: 46px;
    -o-border-radius: 46px;
}

#navbar .navbar_main .navbar_menu ul li a{
    width: 92px;
    padding: 8px 20px;
    margin: 0px 5px;
    font-weight: 400;
    font-size: 18px;
    color: var(--primary-text-color);
    text-align: center;
    border-radius: 46px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    -ms-border-radius: 46px;
    -o-border-radius: 46px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

#navbar .navbar_main .navbar_menu ul li:hover a{
    background-color: var(--highlight-color);
    font-weight: 600;
}

#navbar .navbar_main .navbar_menu ul li#active a{
    background-color: var(--highlight-color);
    font-weight: 600;
}

#navbar .navbar_main .navbar_hambarger{
    display: none;
}

#navbar .navbar_main .navbar_hambarger a{
    font-weight: 400;
    font-size: 18px;
    color: var(--primary-text-color);
}
/* ====================================================
                    'NAVBAR' PART END
 ==================================================== */


/* ====================================================
                    'BANNER' PART START
 ==================================================== */
#banner{
    padding-top: 170px;
    background: var(--banner-background);
}

#banner .banner_main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    position: relative;
}

#banner .banner_main .banner_titles h1{
    font-weight: 800;
    font-size: 78px;
    color: var(--primary-text-color);
}

#banner .banner_main .banner_titles span{
    font-weight: 400;
    font-size: 78px;
    font-style: italic;
    color: var(--primary-text-color);
    font-family: var(--secondary-text);
    line-height: 20px;
}

#banner .banner_main .banner_titles p{
    font-weight: 400;
    font-size: 16px;
    color: var(--third-text-color);
    margin: 28px 0px;
}

#banner .banner_main .banner_titles .button_btn{
    margin-top: -50px;
}

#banner .banner_main .banner_titles .button_btn:last-child{
    margin-left: 20px;
}

#banner .banner_main .banner_titles .button_btn:last-child button{
    background-color: transparent;
    border: 2px solid var(--secondary-text-color);
}

#banner .banner_main .banner_titles .button_btn:last-child button:hover{
    background-color: var(--highlight-color);
    border: 2px solid var(--highlight-color);;
}

#banner .banner_main .banner_tutorial{
    display: flex;
    align-items: center;
    padding: 20px;
    stroke: var(--fourth-text-color);
    background-color: var(--third-background-color);
    border: 1px solid var(--fourth-text-color);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: absolute;
    bottom: 10%;
    left: 53%;
}

#banner .banner_main .banner_tutorial .circle{
    width: 40px;
    height: 40px;
    margin-right: 12px;
    background-color: var(--highlight-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#banner .banner_main .banner_tutorial .title h6{
    font-size: 24px;
    font-weight: 900;
    color: var(--fifth-text-color);
}

#banner .banner_main .banner_tutorial .title p{
    font-size: 16px;
    font-weight: 400;
    color: var(--sixth-text-color);
}

#banner .banner_main .banner_workouts{
    padding: 17px 24px;
    stroke: var(--fourth-text-color);
    background-color: var(--third-text-color);
    border: 1px solid var(--fourth-text-color);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: absolute;
    top: 20%;
    right: 8%;
}

#banner .banner_main .banner_workouts h6{
    font-size: 40px;
    font-weight: 900;
    color: var(--primary-text-color);
}

#banner .banner_main .banner_workouts p{
    font-size: 13px;
    font-weight: 400;
    color: var(--sixth-text-color);
}
/* ====================================================
                    'BANNER' PART END
 ==================================================== */



/* ====================================================
                    'HABITS' PART START
 ==================================================== */
 #habits .habits_main .habits_body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

#habits .habits_main .habits_body .habits_body_item{
    text-align: center;
}

#habits .habits_main .habits_body .habits_body_item .img img{
    /* width: 100%; */
    margin-bottom: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#habits .habits_main .habits_body .habits_body_item .title h5{
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-text-color);
    margin-bottom: 6px;
}

#habits .habits_main .habits_body .habits_body_item .title p{
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-text-color);
}
/* ====================================================
                    'HABITS' PART END
 ==================================================== */



/* ====================================================
                 'JOIN NOW' PART START
 ==================================================== */
 #join .join_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-background-color);
    padding: 32px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

#join .join_main .section_heading{
    text-align: left;
    width: 40%;
    margin: 0px 40px;
}

#join .join_main .join_body{
    width: 35%;
    overflow: hidden;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

#join .join_main .join_body img{
    width: 100%;
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
}
/* ====================================================
                 'JOIN NOW' PART END
==================================================== */



/* ====================================================
             'TRAINING & EXCERCISE' PART START
 ==================================================== */
 #training .training_main .section_heading{
    width: 50%;
    text-align: left;
    margin-bottom: 58px;
    margin-left: 0px;
}

#training .training_main .training_body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#training .training_main .training_body #row1col1{
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: rgb(6, 255, 209);
}

#training .training_main .training_body #row1col2{
    grid-column: 4 / span 6;
    grid-row: 1;
    background-color: #FF0000;
}

#training .training_main .training_body #row1col3{
    grid-column: 10 / span 3;
    grid-row: 1;
    background-color: #000000;
}

#training .training_main .training_body #row2col1{
    grid-column: 1 / span 5;
    grid-row: 2;
    background-color: #000000;
}

#training .training_main .training_body #row2col2{
    grid-column: 6 / span 3;
    grid-row: 2;
    background-color: #42FF00;
}

#training .training_main .training_body #row2col3{
    grid-column: 9 / span 4;
    grid-row: 2;
    background-color: #0047FF;
}

#training .training_main .training_body .item{
    position: relative;
    overflow: hidden;
}

#training .training_main .training_body .item .img{
    height: 216px;
}

#training .training_main .training_body .item .img img{
    width: 100%;
    height: 100%;
    opacity: .7;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);

    transition: transform 0.5s, opacity .5s;
    -webkit-transition: transform 0.5s, opacity .5s;
    -moz-transition: transform 0.5s, opacity .5s;
    -ms-transition: transform 0.5s, opacity .5s;
    -o-transition: transform 0.5s, opacity .5s;
}

#training .training_main .training_body .item .title{
    position: absolute;
    content: '';
    bottom: 20px;
    left: 25px;
}

#training .training_main .training_body .item .title p{
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-text-color);
}

#training .training_main .training_body .item .img:hover img{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
/* ====================================================
             'TRAINING & EXCERCISE' PART END
==================================================== */



/* ====================================================
                'BMI CALCULATOR' PART START
 ==================================================== */
 #bmi_body{
    background-color: var(--secondary-background-color);
}

#bmi_body .bmi_main{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

#bmi_body .bmi_main .title{
    margin-bottom: 40px;
}

#bmi_body .bmi_main h3{
    font-size: 28px;
    font-weight: 900;
    color: var(--primary-text-color);
}

#bmi_body .bmi_main p{
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text-color);
    margin-top: 11px;
}

#bmi_body .bmi_main .bmi_chart{
    width: 30%;
}

#bmi_body .bmi_main .bmi_chart table{
    width: 100%;
}

#bmi_body .bmi_main .bmi_chart table, tr, td, th{
    border: 1px solid var(--secondary-text-color);
    padding: 10px;
    border-collapse: collapse;
}

#bmi_body .bmi_main .bmi_chart th{
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text-color);
}

#bmi_body .bmi_main .bmi_chart td{
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text-color);
}

#bmi_body .bmi_main .bmi_calculation_form{
    width: 55%;
}

#bmi_body .bmi_main .bmi_calculation_form .calculation_form form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

#bmi_body .bmi_main .bmi_calculation_form .calculation_form form #last_item{
    grid-column: 1 / span 2;
    grid-row: 3;
}

#bmi_body .bmi_main .bmi_calculation_form .calculation_form form input{
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 13px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#bmi_body .bmi_main .bmi_calculation_form .calculation_form form input::placeholder{
    color: rgba(255, 255, 255, .6);
}

#bmi_body .bmi_main .bmi_calculation_form .calculation_form form select{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, .6);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 13px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/* ====================================================
                'BMI CALCULATOR' PART END
==================================================== */



/* ====================================================
                'MEMBERSHIP' PART START
 ==================================================== */
#membership .membership_main .membership_body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

#membership .membership_main .membership_body .membership_body_item{
    text-align: center;
    background-color: var(--secondary-text-color);
}

#membership .membership_main .membership_body .membership_body_item .mem_items_header{
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}


#membership .membership_main .membership_body .membership_body_item .mem_items_header h5{
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-text-color);
    padding: 20px 0px;
    text-transform: uppercase;
}

#membership .membership_main .membership_body .membership_body_item .mem_items_img{
    padding: 35px 0px;
    position: relative;
    z-index: 1;
}

#membership .membership_main .membership_body .membership_body_item .mem_items_img::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: -1;
}

#membership .membership_main .membership_body .membership_body_item .mem_items_img h4{
    font-weight: 400;
    font-size: 21px;
    color: var(--primary-text-color);
}

#membership .membership_main .membership_body .membership_body_item .mem_items_img span{
    font-size: 40px;
}

#membership .membership_main .membership_body .membership_body_item .mem_items_body{
    padding: 20px 0px;
    background-color: var(--secondary-background-color);
}

#membership .membership_main .membership_body .membership_body_item .mem_items_body p{
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text-color);
    padding: 10px 0px;
}

#membership .membership_main .membership_body .membership_body_item .mem_items_footer{
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

#membership .membership_main .membership_body .membership_body_item .mem_items_footer a{
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0px;
    color: var(--primary-text-color);
    text-transform: uppercase;
}


#membership .membership_main .membership_body .membership_body_item.active .mem_items_header, #membership .membership_main .membership_body .membership_body_item.active .mem_items_footer{
    background-color: var(--highlight-color);
}

#membership .membership_main .membership_body .membership_body_item:hover .mem_items_header{
    background-color: var(--highlight-color);
}

#membership .membership_main .membership_body .membership_body_item:hover .mem_items_footer{
    background-color: var(--highlight-color);
}
/* ====================================================
                'MEMBERSHIP' PART END
==================================================== */



/* ====================================================
                    'TEAM' PART START
 ==================================================== */
 #team .team_main .team_body{
    background-color: var(--secondary-background-color);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

#team .team_main .team_body .team_item{
    position: relative;
    overflow: hidden;

    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

#team .team_main .team_body .team_item .img{
    height: 272px;
    background-color: var(--tartiary-background-color);
}

#team .team_main .team_body .team_item .img img{
    opacity: .8;
    width: 100%;
    height: 100%;

    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);

    transition: transform 0.5s, opacity .5s;
    -webkit-transition: transform 0.5s, opacity .5s;
    -moz-transition: transform 0.5s, opacity .5s;
    -ms-transition: transform 0.5s, opacity .5s;
    -o-transition: transform 0.5s, opacity .5s;
}

#team .team_main .team_body .team_item .title{
    position: absolute;
    content: '';
    bottom: 16px;
    left: 19px;
}

#team .team_main .team_body .team_item .title h5{
    font-weight: 900;
    font-size: 20px;
    color: var(--primary-text-color);
    margin-bottom: 3px;
}

#team .team_main .team_body .team_item .title p{
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-text-color);
}

#team .team_main .team_body .team_item .img:hover img{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
/* ====================================================
                    'TEAM' PART END
==================================================== */



/* ====================================================
                    'FOOTER' PART START
 ==================================================== */
 #footer{
    background-color: var(--secondary-background-color);
}

#footer .footer_main{
    padding: 66px 0px;
    display: grid;
    grid-template-columns: 450px auto auto;
    justify-items: end;
}

#footer .footer_main .footer_item h1{
    font-weight: 800;
    font-style: italic;
    font-size: 70px;
    color: var(--highlight-color);
    margin-bottom: 20px;
}

#footer .footer_main .footer_item p{
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-text-color);
}

#footer .footer_main .footer_item h2{
    font-weight: 700;
    font-size: 32px;
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

#footer .footer_main .footer_item a{
    font-weight: 400;
    font-size: 23px;
    color: var(--secondary-text-color);
    display: block;
}

#footer .footer_copyright{
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    padding: 35px 0px;
    text-align: center;
}

#footer .footer_copyright p{
    font-weight: 400;
    font-size: 20;
    color: var(--secondary-text-color);
}
/* ====================================================
                    'FOOTER' PART END
 ==================================================== */